
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Content/Images/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item treeview">
                    <a href="~/Home/Lines" class="nav-link">
                        <!--<i class="nav-icon fas fa-th"></i>-->
                        <p>
                            Lineas
                        </p>
                    </a>
                    <ul data-widget="tree">
                        <li><a href="#">One Level</a></li>
                        <li class="treeview">
                            <a href="#">Multilevel</a>
                            <ul class="treeview-menu">
                                <li><a href="#">Level 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="~/Home/Products" class="nav-link">
                        <p>
                        Productos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <p>
                            Local
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>